@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 10;
    --card: 255 255 255;
    --card-foreground: 10 10 10;
    --popover: 255 255 255;
    --popover-foreground: 10 10 10;
    --primary: 214 226 250;
    --primary-foreground: 250 250 250;
    --secondary: 244 245 247;
    --secondary-foreground: 26 26 26;
    --muted: 244 245 247;
    --muted-foreground: 117 117 117;
    --accent: 244 245 247;
    --accent-foreground: 26 26 26;
    --destructive: 239 68 68;
    --destructive-foreground: 250 250 250;
    --border: 229 231 235;
    --input: 229 231 235;
    --ring: 10 10 10;
    --chart-1: 242 132 130;
    --chart-2: 64 155 155;
    --chart-3: 45 55 72;
    --chart-4: 237 201 81;
    --chart-5: 255 145 73;
    --radius: 0.5rem;

    --bg-gradient-start: 235 86 142;
    --bg-gradient-end: 20 78 227;

    --text-gradient-from: 59 130 246; /* rgb(59, 130, 246) - blue-500 */
    --text-gradient-via: 236 72 153; /* rgb(236, 72, 153) - pink-500 */
    --text-gradient-to: 168 85 247; /* rgb(168, 85, 247) - purple-500 */
  }
  .dark,
  :root[class~="dark"] {
    --background: 10 10 10;
    --foreground: 250 250 250;
    --card: 10 10 10;
    --card-foreground: 250 250 250;
    --popover: 10 10 10;
    --popover-foreground: 250 250 250;
    --primary: 250 250 250;
    --primary-foreground: 26 26 26;
    --secondary: 41 41 41;
    --secondary-foreground: 250 250 250;
    --muted: 41 41 41;
    --muted-foreground: 166 166 166;
    --accent: 41 41 41;
    --accent-foreground: 250 250 250;
    --destructive: 127 29 29;
    --destructive-foreground: 250 250 250;
    --border: 41 41 41;
    --input: 41 41 41;
    --ring: 214 214 214;
    --chart-1: 59 130 246;
    --chart-2: 45 212 191;
    --chart-3: 251 146 60;
    --chart-4: 168 85 247;
    --chart-5: 236 72 153;

    --bg-gradient-start: 255 26 117;
    --bg-gradient-end: 10 36 114;

    --text-gradient-from: 96 165 250; /* rgb(96, 165, 250) - blue-400 */
    --text-gradient-via: 244 114 182; /* rgb(244, 114, 182) - pink-400 */
    --text-gradient-to: 192 132 252; /* rgb(192, 132, 252) - purple-400 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
